<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/user.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <title>FacebookInfo</title>
</head>
<body>

<nav class="headerSettings">
    <img class="profilePic"
         src="https://scontent-frt3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/255304_386798028040133_63815419_n.jpg?oh=7f3f8b09dbaedbbbeeeae31ee3de999e&oe=5719C33F">
    <div class="nav-wrapper">
        <img class="logo" src="https://static.xx.fbcdn.net/rsrc.php/v2/yx/r/j8MLnS8LDzC.png" alt="logo">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a data-toggle="popover" data-html="true" title="User stats"
                   data-content="Nome: <%= user.facebook.name %><br>Email: <%= user.facebook.email %><br>Last Analysis: <%= lastAnalysis %><br>Total analysis count: <%= countAnalysis %>">
                    <i class="material-icons">settings</i></a></li>
            <li><a id="reload"> <i class="material-icons">replay</i></a></li>
            <li><a href="/logout"><i class="material-icons inline rotate">open_in_browser</i><span
                            class="inline">Logout</span></a></li>
        </ul>
    </div>
</nav>
<ul class="nav nav-pills">
    <li id="total" class="active"><a data-toggle="pill" href="#home">Total</a></li>
    <li id="wholikesyou"><a data-toggle="pill" href="#menu0">Who likes you</a></li>
    <li id="wordscloud"><a data-toggle="pill" href="#menu1">Words </a></li>
    <li id="feed"><a data-toggle="pill" href="#menu2">Feeds</a></li>
    <li id="loaded"><a data-toggle="pill" href="#menu3">Loaded Photos</a></li>
    <li id="tagged"><a data-toggle="pill" href="#menu4">Tagged Photos </a></li>
</ul>

<div class="containerMain">
    <div class="leftMain"></div>
    <div class="centerMain">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3 class="tabTitle">Total Analysis</h3>
                <div id="totalBestElementContainer">
                    <h5 class="likeCount">Best element overall </h5>
                </div>
                <div class="divider"></div>
                <h5 class="likeCount" id="totalLikeCount">Total likes count: </h5>
                <div class="divider"></div>
                <h5 class="analysisTitle">Month grouped Analysis</h5>
                <div class="graphContainer">
                    <svg class="totalMonthChart chart"></svg>
                </div>
                <div class="totalGroupedLikeTableContainer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Number of Likes</th>
                        </tr>
                        </thead>
                        <tbody class="totalGrouped">
                        </tbody>
                    </table>
                </div>
                <div class="divider"></div>
                <h5 class="analysisTitle">Hours grouped Analysis</h5>
                <div class="graphContainer">
                    <svg class="totalHoursChart chart"></svg>
                </div>
                <div class="totalHoursAnalysisContainer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Number of Likes</th>
                        </tr>
                        </thead>
                        <tbody class="totalHours">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu0" class="tab-pane fade">
                <h3 class="tabTitle">Best Friends</h3>
                <div class="podiumContainer">
                    <div id="secondPic" class="podiumPicContainers">
                        <img class="podiumPic" src="">
                    </div>
                    <div id="firstPic" class="podiumPicContainers">
                        <img class="podiumPic" src="">
                    </div>
                    <div id="thirdPic" class="podiumPicContainers">
                        <img class="podiumPic" src="">
                    </div>
                    <div class="podium" id="second">2</div>
                    <div class="podium" id="first">1</div>
                    <div class="podium" id="third">3</div>
                    <div class="podiumLabel"><%= data.analysis.likesByPerson[1].name %></div>
                    <div class="podiumLabel"><%= data.analysis.likesByPerson[0].name %></div>
                    <div class="podiumLabel"><%= data.analysis.likesByPerson[2].name %></div>
                </div>
                <div class="friendTable">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Likes</th>
                        </tr>
                        </thead>
                        <tbody class="friendLikesCount">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3 class="tabTitle">Words Analysis</h3>
                <div class="wordCloudContainer">
                </div>
                <div class="wordsTable">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Words</th>
                            <th>Number of Occurencies</th>
                        </tr>
                        </thead>
                        <tbody class="wordsCount">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3 class="tabTitle">Feed Analysis</h3>
                <h5 class="likeCount" id="feedLikeCount"></h5>
                <div class="divider"></div>
                <h5 class="analysisTitle">Month grouped Analysis</h5>
                <div class="graphContainer">
                    <svg class="feedMonthChart chart"></svg>
                </div>
                <div class="feedGroupedLikeTableContainer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Number of Likes</th>
                        </tr>
                        </thead>
                        <tbody class="feedGrouped">
                        </tbody>
                    </table>
                </div>
                <div class="divider"></div>
                <h5 class="analysisTitle">Hours grouped Analysis</h5>
                <div class="graphContainer">
                    <svg class="feedHoursChart chart"></svg>
                </div>
                <div class="feedHoursAnalysisContainer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Number of Likes</th>
                        </tr>
                        </thead>
                        <tbody class="feedHours">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3 class="tabTitle">Loaded Photos Analysis</h3>
                <h5 class="likeCount" id="loadedLikeCount">Loaded photos likes count: </h5>
                <div class="divider"></div>
                <h5 class="analysisTitle">Month grouped Analysis</h5>
                <div class="graphContainer">
                    <svg class="loadedMonthChart chart"></svg>
                </div>
                <div class="loadedGroupedLikeTableContainer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Number of Likes</th>
                        </tr>
                        </thead>
                        <tbody class="loadedGrouped">
                        </tbody>
                    </table>
                </div>
                <div class="divider"></div>
                <h5 class="analysisTitle">Hours grouped Analysis</h5>
                <div class="graphContainer">
                    <svg class="loadedHoursChart chart"></svg>
                </div>
                <div class="loadedHoursAnalysisContainer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Number of Likes</th>
                        </tr>
                        </thead>
                        <tbody class="loadedHours">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu4" class="tab-pane fade">
                <h3 class="tabTitle">Tagged Photos Analysis</h3>
                <h5 class="likeCount" id="taggedLikeCount">Tagged photos likes count: </h5>
                <div class="divider"></div>
                <h5 class="analysisTitle">Month grouped Analysis</h5>
                <div class="graphContainer">
                    <svg class="taggedMonthChart chart"></svg>
                </div>
                <div class="taggedGroupedLikeTableContainer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Number of Likes</th>
                        </tr>
                        </thead>
                        <tbody class="taggedGrouped">
                        </tbody>
                    </table>
                </div>
                <div class="divider"></div>
                <h5 class="analysisTitle">Hours grouped Analysis</h5>
                <div class="graphContainer">
                    <svg class="taggedHoursChart chart"></svg>
                </div>
                <div class="taggedHoursAnalysisContainer">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Number of Likes</th>
                        </tr>
                        </thead>
                        <tbody class="taggedHours">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="rightMain"></div>
</div>
<!--
<footer class="footer">
    &copyitr0
</footer>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="lib/d3/d3.layout.cloud.js"></script>
<script src="javascript/main.js"></script>
</body>
</html>
<body>
